@model IEnumerable<Tienda.Models.Categoria>

<ul class="navbar-nav flex-grow-2">
    @foreach (var categoria in Model)
    {
        <li>
            <a href="@Url.Action("Index", "Home", new { categoryId = categoria.Id })" class="nav-link text-white">@categoria.Nombre</a>
        </li>
    }
<li>
    <a href="@Url.Action("Carrito", "Home")" class="nav-link text-white">
        Carrito de Compras <span class="badge bg-danger cart-item-count">@Session["cartItemCount"]</span>
    </a>

</li>
</ul>


<style>
    .badge-danger {
        vertical-align: super;
        margin-left: 5px; /* Espacio entre el texto y el contador */
    }
</style>
