@model IEnumerable<Tienda.Models.Categoria>

<ul class="navbar-nav flex-grow-2" id="categoryNav">
    <img src="~/Imagenes/LogoRMNot.png" alt="User Icon" style="width: 48px; height: 48px;"> <!-- Imagen al lado del texto rm -->
    @foreach (var categoria in Model)
    {
        <li>
            <a href="@Url.Action("Index", "Home", new { categoryId = categoria.Id })" class="nav-link text-white">@categoria.Nombre</a>
        </li>
    }
    <li>
        <a href="@Url.Action("Carrito", "Home")" class="nav-link text-white">
            Carrito de Compras <span class="badge bg-danger cart-item-count">@Session["cartItemCount"]</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <!--<Desplegable de inicio de seccion>-->
            <i class="fas fa-user fa-fw"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">Inicio de seccion</a></li>
            <li><a class="dropdown-item" href="#!">Acerca de</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#!">Cerrar seccion</a></li>
        </ul>
    </li>
</ul>

<style>
    .badge-danger {
        vertical-align: super;
        margin-left: 5px; /* Espacio entre el texto y el contador */
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener el color guardado desde localStorage
        var savedNavbarColor = localStorage.getItem('navbarColor');

        // Aplicar el color guardado a la barra de categoría
        if (savedNavbarColor) {
            document.getElementById('categoryNav').style.backgroundColor = savedNavbarColor;
        }
    });
</script>
