@*@model Tienda.Models.GouModel*@
@{
    ViewBag.Title = "GouForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="order-info m-4">
    <h2 class="mb-4">Pagar por el pedido</h2>
    <table class="table text-center mb-4">
        <tr>
            <th>NÚMERO DEL PEDIDO:</th>
            <th>FECHA:</th>
            <th>TOTAL:</th>
            <th>MÉTODO DE PAGO:</th>
        </tr>
        <tr>
            <td>@ViewBag.ReferenceCode</td>
            <td>@DateTime.Now.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("es-ES"))</td>
            <td>$ @ViewBag.Amount.ToString("N0")</td>
            <td>GoU</td>
        </tr>
    </table>
    <p class="mt-4">Gracias por su pedido. Haga clic en el botón a continuación para continuar el pago con GoU.</p>
</div>

<div class="text-center">
    <a href="@ViewBag.PaymentUrl" target="_blank" class="btn btn-red">Ir a GoU para pagar</a>
</div>


<style>
    .btn-red {
        background-color: #C70039;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
    }

        .btn-red:hover {
            background-color: red;
            color: white;
        }

    .order-info {
        margin-bottom: 20px;
    }
</style>
